h1 {
  color: #458fde;
  display: inline;
  font-size: 34px;
  font-family: 'Antic Didone', serif;
  margin: 0 0.5em;
}

nav ul {
  border-bottom: #458fde solid 2px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

nav li {
  display: block;
  padding: 0 0.5em 0.5em 0.5em;
}

.top {
  display: inline-block;
  margin: 0 1em;
}

.top img {
  position: absolute;
  top: 0.3em;
}

#settingicon {
  right: 0.5em;
}

#headericon {
  left: 0.7em;
}

/*FONT: Antic Didone*/
@font-face {
  font-family: 'Antic Didone';
  src: url('/fonts/AnticDidone-Regular.ttf');
}
