ul {
  list-style: none;
  border-bottom: #458fde solid 1.5px;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

li {
  display: block;
  padding: 0.5em;
}

.top {
  display: inline-block;
}

h1 {
  color: #458fde;
  display: inline;
  font-size: 2.5em;
  font-family: 'Antic Didone', serif;
  margin: 0 0.5em;
}

#settingicon {
  position: absolute;
  top: 1em;
  right: 1em;
}

/*FONT: Antic Didone*/
@font-face {
  font-family: 'Antic Didone';
  src: url('/fonts/AnticDidone-Regular.ttf');
}
