body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* main div comes after header */
#root > div > :nth-child(2),
.products {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.products > :nth-child(1) {
  flex: 1;
}

.products > :nth-child(2) {
  overflow: visible;
}

h1 {
  color: #458fde;
  display: inline;
  font-size: 34px;
  line-height: 34px;
  font-family: "Antic Didone", serif;
  position: relative;
  left: 0.55em;
}

h2 {
  color: #458fde;
  margin: 0.5em;
  font-family: "Quicksand", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 18px;
  margin: 0 0.5em;
}

li {
  padding: 0.5em 0 0 0;
}

p {
  font-family: "Quicksand", sans-serif;
  margin: 0.5em;
}

.text-italic{
  font-style: italic;
}

.top {
  display: inline-block;
  margin: 0.5em 0.5em 0 0.5em;
}

.top img {
  position: absolute;
  z-index: 1;
}

nav ul {
  border-bottom: #458fde solid 2px;
  padding: 0em 0 0.3em 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: block;
  padding: 0;
}

nav a {
  color: rgb(70, 70, 70);
  font-size: 28px;
  font-family: "AmaticSC", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

nav a.active {
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.top a.active img {
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
}

.top #settingicon {
  right: 0.5em;
}

.top #headericon {
  left: 0.4em;
}

.search-form input {
  font-size: 20px;
  position: static;
  width: calc(100% - 4em);
  margin: 0.5em 0 0.5em 0.5em;
  padding: 0.4em 0;
  text-indent: 1.5em;
}

#unauthenticated {
  text-align: center;
  color: #9f6000;
  background: #feefb3;
  padding: 0.25em 0;
}

.categories ul {
  margin: 0;
}

.categories .listitem {
  margin: 0.25em 0.5em;
}

.product .title,
.category .title {
  font-family: "Quicksand", sans-serif;
  padding: 0.5em 0.5em;
  font-size: 20px;
}

.product .title,
.category .title,
.search-form,
.header {
  position: relative;
  background-color: #c3e6fc;
}

.search-form input,
.product input,
.product select,
.category input,
.settings input,
.settings select,
#color-btn {
  border: black solid 1px;
  box-shadow: 0px 1px 8px 0px #777;
  background-color: white;
  text-align: left;
}

.search-form .clear-icon,
.search-form .add-icon {
  margin-top: 0.8em;
  padding: 0.7em 0.5em;
  cursor: pointer;
  position: absolute;
}

.search-form .clear-icon {
  right: 4.5em;
}

.search-form .toggle {
  position: absolute;
  right: 0.5em;
  top: 0.6em;
  display: flex;
  align-items: center;
  width: 3em;
  height: 2.45em;
}

.search-form .toggle.disabled {
  pointer-events: none;
  filter: grayscale(1) opacity(0.5);
}

.one-user, .two-users {
  transition: all 300ms;
   filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}

.one-user.active,
.two-users.active {
  filter: invert(50%) sepia(82%) saturate(428%) hue-rotate(172deg) brightness(90%) contrast(92%) drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
  transform: scale(2);
  z-index: 1;
}

.suggestions {
  padding: 0.5em;
  font-family: "Quicksand", sans-serif;
}

.suggestions span {
  font-size: 18px;
}

.delete-icon {
  float: right;
}

.product .wrapper,
.category .wrapper {
  padding-top: 1em;
  clear: both;
  overflow: auto;
  background-color: white;
}

.product label span,
.category label span,
.settings label span {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  width: 120px;
  clear: both;
  float: left;
  text-align: right;
  padding: 0.6em 0.5em;
}

.product input,
.product select,
.category input,
.settings input,
.settings select,
#color-btn {
  font-size: 16px;
  padding: 0.5em 0;
  margin: 0.5em 0;
  border-radius: 4px;
  float: left;
}

.product .productAmountText{
  width: calc((100% - 120px - 2em) * 0.6);
  text-indent: 0.3em;
  border-radius: 4px 0px 0px 4px;
}
  
.product .productAmountUnit {
  width: calc((100% - 120px - 2em) * 0.4);
  text-indent: 0.3em;
  border-radius: 0px 4px 4px 0px;
}


.product input,
.category input,
.settings input,
#color-btn {
  width: calc(100% - 120px - 2em);
  text-indent: 0.3em;
}

.product select,
.settings select,
#color-btn {
  width: calc(100% - 120px - 1.89em);
  cursor: pointer;
}

#color-btn img {
  float: right;
  margin: 0.2em 0.5em 0 0;
}

.doneBtn,
.cancelBtn,
.deleteBtn,
.saveBtn,
.loginBtn,
.logoutBtn {
  cursor: pointer;
  padding: 0.2em 0;
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
  border-radius: 3px;
  border: black solid 1px;
  box-shadow: 3px 3px 5px #888;
  position: absolute;
  margin: 0.5em 0;
  bottom: 0;
}

.doneBtn,
.cancelBtn,
.deleteBtn {
  width: calc((100% / 3) - 0.75em);
}

.saveBtn,
.loginBtn,
.logoutBtn {
  width: calc(50% - 0.75em);
}

.deleteBtn {
  background-color: #fb9191;
  left: 0.5em;
}

.cancelBtn {
  background-color: #eeeba0;
  left: calc((100% / 3) + (0.75em / 2));
}

.doneBtn {
  background-color: #c8eea0;
  right: 0.5em;
}

.saveBtn {
  background-color: #c8eea0;
  right: 0.5em;
}

.loginBtn {
  background-color: #c3e6fc;
  color: inherit;
  text-decoration: none;
  left: 0.5em;
  width: calc(100% - 2 * 0.5em);
}

.logoutBtn {
  background-color: #c3e6fc;
  left: 0.5em;
}

.add-icon {
  left: 0.5em;
}

.clear-icon {
  right: 0.5em;
}

.listitem {
  border-bottom: grey solid 0.5px;
  padding: 0.5em 0;
}

/* Customize the label (the listitem label) */
.listitem label {
  font-family: "Quicksand", sans-serif;
  width: calc(100% - 2em);
  position: relative;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.listitem .productText{
  font-family: "Quicksand", sans-serif;
  padding-left: 35px;
  font-size: 22px;
}

.listitem .amountText{
  font-family: "Quicksand", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 10px;
  font-size: 18px;
}

/* Hide the browser's default checkbox */
.listitem label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.listitem label ~ a img {
  cursor: pointer;
  position: absolute;
  right: 0.5em;
}

/* When the checkbox is checked, add a blue background */
.products input:checked ~ .checkmark {
  background-color: #458fde;
}

/* Show the checkmark when checked */
.products input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.products .checkmark:after {
  left: 6px;
  top: -2px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

/* Create a custom checkbox */
.products .checkmark {
  background-color: #eee;
}

/* Create the checkmark/indicator (hidden when not checked) */
.products .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.section {
  font-family: "Quicksand", sans-serif;
  padding-left: 0.5em;
  margin-top: 0.3em;
  font-size: 20px;
  font-weight: bold;
}

.products .done {
  background-color: rgb(80, 80, 80);
  border-radius: 5px 5px 0 0;
  margin: 0.5em 0 0 0;
  padding: 0 0 0.5em 0em;
  color: white;
}

.products .done h2 {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
  margin-left: 0.3em;
  display: inline;
}

.products .done li {
  text-decoration: line-through;
}

.products .done button {
  position: absolute;
  right: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  border-radius: 5px;
  border: outset 2px white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: calc(100% / 3);
  margin: 0.5em;
  cursor: pointer;
  background-color: #767676;
  color: white;
}

.setting-wrapper {
  background-color: #fff;
  overflow: auto;
  position: absolute;
  width: 100%;
}

.hidden,
.products .done img,
.products .done .amountText {
  display: none;
}

.categories .checkmark,
.products .checkmark,
.share .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  width: 27px;
}

.categories .checkmark {
  background-image: url("../assets/icons/reorder.svg");
  background-size: contain;
}

.share .checkmark {
  background-image: url("../assets/icons/user.svg");
  background-size: contain;
}

.color-list {
  background-color: white;
  border: black solid 1px;
  clear: both;
  float: right;
  margin: -0.48em 0.6em 0 0;
  border-radius: 4px;
  box-shadow: 0px 1px 8px 0px #777;
  width: calc(100% - 120px - 1.85em);
  text-align: center;
}

.color-list li {
  cursor: pointer;
  width: 2em;
  height: 2em;
  display: inline-block;
  box-shadow: 1px 1px 5px #888888;
  border-radius: 35%;
  margin: 0.25em;
  padding: 0;
}

.settings {
  text-align: center;
}

.userform img {
  border-radius: 50%;
  margin: 0.5em;
  width: 50px;
}

:focus {
  outline: none;
}

/*FONT: Antic Didone*/
@font-face {
  font-family: "Antic Didone";
  src: url("../assets/fonts/AnticDidone-Regular.ttf");
}

/*FONT: AmaticSC*/
@font-face {
  font-family: "AmaticSC";
  src: url("../assets/fonts/AmaticSC-Regular.ttf");
}

/*FONT: PatrickHandSC*/
@font-face {
  font-family: "PatrickHandSC";
  src: url("../assets/fonts/PatrickHandSC-Regular.ttf");
}
/*FONT: Quicksand*/
@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand-Regular.ttf");
}
