.top h1 {
  color: #458fde;
  display: inline;
  font-size: 34px;
  line-height: 34px;
  font-family: 'Antic Didone', serif;
  position: relative;
  left: 0.55em;
}

h2 {
  color: #458fde;
}

nav ul {
  border-bottom: #458fde solid 2px;
  list-style: none;
  padding: 0em 0 0.3em 0;
  margin: 0 0.5em;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: block;
  padding: 0em;
}

nav a {
  color: rgb(70, 70, 70);
  font-size: 28px;
  font-family: 'AmaticSC', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

nav a.active {
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

a.active img {
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
}

.top {
  display: inline-block;
  margin: 0.5em 0.5em 0 0.5em;
}

.top img {
  position: absolute;
  z-index: 1;
}

#settingicon {
  right: 0.5em;
}

#headericon {
  left: 0.4em;
}

.product .title {
  padding: 0.9em 0.5em;
  font-size: 20px;
}

.product .title,
.search,
.header {
  background-color: rgba(135, 206, 250, 0.5);
  overflow: auto;
}

.search form,
.product #productName,
.product #categories {
  border: black solid 1px;
  margin: 0.5em;
  box-shadow: 0px 1px 8px 0px #777;
  background-color: white;
}

.search img {
  margin-top: 0.8em;
  padding: 0em 0.5em;
  cursor: pointer;
}

.product .wrapper {
  margin-top: 2em;
}

.product label span {
  font-family: 'PatrickHandSC';
  font-size: 22px;
  width: 125px;
  clear: both;
  float: left;
  text-align: right;
  padding: 0.5em 0.5em;
  margin: 0;
}

.product #productName,
.product #categories {
  width: calc(100% - 125px - 2em);
  font-size: 16px;
  padding: 0.5em 0em;
  margin: 0.5em 0;
  border-radius: 4px;
  float: left;
}

.product #productName {
  text-indent: 0.3em;
}

.product button {
  font-family: 'PatrickHandSC';
  font-size: 20px;
  border: solid black 1px;
  border-radius: 3px;
  width: calc(50% - 0.75em);
  position: absolute;
  bottom: 0.5em;
}

.product .cancelBtn {
  background-color: lightcoral;
  left: 0.5em;
}

.product .doneBtn {
  background-color: lightgreen;
  right: 0.5em;
}

.add_icon {
  float: left;
}

.clear_icon {
  float: right;
}

input[type='text'] {
  border: none;
  font-size: 20px;
  width: calc(100% - 1em - 1.8em);
  padding: 0.4em 0;
  background-color: transparent;
}

/* Customize the label (the container) */
.container {
  float: left;
  width: calc(100% - 3.5em);
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #458fde;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}

.shoppingList,
.done {
  list-style: none;
  padding: 0;
  font-size: 18px;
  margin: 0 0.5em;
}

.shoppingList li,
.done li {
  border-bottom: grey solid 0.5px;
  padding: 0.5em 0 0 0;
}

#editicon {
  cursor: pointer;
  position: static;
  margin-top: -0.2em;
  padding: 0.2em 0.5em;
}

.done {
  background-color: rgb(80, 80, 80);
  border-radius: 5px 5px 0 0;
  overflow: auto;
  margin: 0.5em 0 0 0;
  padding: 0 0.5em 0.5em 0.5em;
  color: white;
}

.done h2 {
  color: white;
  font-family: 'PatrickHandSC';
  font-weight: normal;
  margin-left: -0.2em;
  display: inline;
}

.done li {
  text-decoration: line-through;
}

.removeBtn {
  float: right;
  font-family: 'PatrickHandSC';
  font-size: 20px;
  border-radius: 3px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 0em;
  width: calc((100% - 1em) / 2);
  margin: 0.2em;
  cursor: pointer;
  background-color: rgb(150, 150, 150);
  color: white;
}

.hidden,
.done #editicon {
  visibility: hidden;
}

/*FONT: Antic Didone*/
@font-face {
  font-family: 'Antic Didone';
  src: url('/fonts/AnticDidone-Regular.ttf');
}

/*FONT: AmaticSC*/
@font-face {
  font-family: 'AmaticSC';
  src: url('/fonts/AmaticSC-Regular.ttf');
}

/*FONT: PatrickHandSC*/
@font-face {
  font-family: 'PatrickHandSC';
  src: url('/fonts/PatrickHandSC-Regular.ttf');
}
